/* Los container queries permiten observar el tamaño del contenedor en vez de observar únicamente el viewport u otras caracteristicas del dispositivo */

body {
  margin: 0;
  font-family: sans-serif;
}
.container {
  container-type: inline-size;
  container-name: main;
}

p {
  font-size: 8px;
}

@container main (max-width: 600px) {
  p {
    font-size: 20px;
    color: #f00;
    background-color: #0009;
  }
}
