body {
  margin: 0;
  font-family: sans-serif;
}
/* 
Las features queries son una forma de probar si un navegador es compatible con una determinada función de CSS
*/
@supports (display: grid) {
  body {
    display: grid;
  }
}

@supports not (display: grid) {
  body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
  }
}
