* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  width: 200%;
  overflow: hidden;
  background-color: #fff;
}

/* 
COMBINAR COLORES:
color-mix -> (in método(srgb, hsl) color porcentaje, color porcentaje)

*/

.box {
  font-size: 30px;
  width: fit-content;
  padding: 320px;
  background-color: color-mix(in srgb, #48e 60%, #000 50%);
}
