/* Pseudoelementos (::) -> Añaden estilos a una parte concreta del documento */
/* 
after, before, first-letter, first-line, selection, backdrop, marker

*/
div {
  padding: 20px;
}

h1::first-letter {
  color: red;
  font-size: 3em;
  letter-spacing: -8px;
}
div::first-line {
  color: #f00;
  font-weight: bold;
}
div::selection {
  background-color: #f00;
  color: #fff;
}
input::placeholder {
  color: #0f0;
  background-color: #000;
  padding: 20px;
}
li::marker {
  color: #f00;
}
li::before {
  content: 'Elemento Antes';
  color: #f00;
}
li::after {
  content: 'Elemento Después';
  color: #09f;
}
