body {
  background-color: #222;
}

div {
  font-size: 30px;
  font-family: cursive;
  text-align: center;
}
.azul {
  color: blue;
}

.naranja {
  color: orange;
}

.rojo {
  color: red;
}
