/*
Existe otras propiedades de CSS que permite manipular la posición y flujo de nuestros elementos. Esta se denomina 'float', y normalmente se utiliza con los valores left o right, inline-start o inline-end para que los elementos se alineen a la izquieda o a la derecha de la ventana respectivamente.
*/

body {
  font-family: sans-serif;
  font-size: 18px;
}

.uno {
  background-color: lightblue;
  padding: 20px;
  width: 100px;
  float: left;
}

.dos {
  background-color: lightgreen;
  padding: 20px;
  width: 100px;
  float: left;
}

.tres {
  background-color: lightcoral;
  width: 100px;
}

.cuatro {
  background-color: lightgoldenrodyellow;
  padding: 20px;
  width: 100px;
  float: inline-end;
}
