body {
  color: #333;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #000;
}

input {
  display: block;
  padding: 9px;
  margin: 12px auto;
  box-sizing: border-box;
  border: none;
  border-top: 2px solid #48e;
  background: transparent;
  outline: none !important;
  transition: background 0.3s;
  width: 100%;
  color: #fff;
}

input::placeholder {
  color: #48e;
  transition: color 0.3s;
}

input:hover {
  background-color: #26a;
}
input:hover::placeholder {
  color: #fff;
}

input[type='submit'] {
  width: 60%;
  padding: 12px;
  background: #26a;
  color: #fff;
  margin-top: 18px;
}

input[type='submit']:hover {
  background-color: #048;
  cursor: pointer;
}

form {
  width: 86%;
  margin: auto;
  background-color: #013;
  padding: 30px;
}

h2 {
  color: #fff;
}

.green {
  color: #9c9;
}

.red {
  color: #c99;
}
